@import "../../../styles/settings.scss";

.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: #ffffff;

  :global(.container) > :global(.row) {
    min-height: 84px;
  }

  .menu {
    align-self: stretch;

    ul {
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        display: flex;
        align-items: stretch;
      }
    }

    a {
      color: $text-color;
      text-transform: uppercase;
      font-size: 12px;
      padding: 1rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      border-top: 4px solid #ffffff;
      font-weight: 500;
      letter-spacing: 1px;

      &:hover,
      &.active {
        background-color: $primary;
        color: #ffffff;
        border-color: $primary;
      }

      &.active {
        border-color: $text-color;
      }
    }
  }

  .dropdown {
    a {
      width: 100%;
    }
  }
}
