.dealBox {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;

  margin-bottom: 20px;

}

.overlay {
  position: absolute;
  top: 8%;
  left: 10%;
  width: 80%;
  height: 85%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3); 
  z-index: 1;
}

.dealContent {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  left: 15%;
  color: #fff;
  z-index: 2;
}

.dealContent h2 {
  margin-bottom: 10px;
   font-size: 33px;
   font-weight: bold;

}

.dealContent h3 {

   font-size: 36px;
   font-weight: bold;

}

.dealContent p {
  font-size: 25px;
  line-height: 1.3;


}

.dealBackground {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}


 .description {
    border-style: solid;
    color: white;
    border-width: 5px;
    z-index: 1;

    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    width: 120px;
    color: #ffffff;
    position: relative;

}