.rightBox {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
}

.rightContent {
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}



.rightContent h2 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  width: 400px;
 top: -10px;
  position: relative;

}

.rightContent h3 {
  margin-bottom: 10px;
  position: relative;
 left: -90px;
 top: -20px;
}



.rightBackground {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.overlay {
  background-color: #e8edf7;
  width: 600px;
  z-index: -1;
}

.description {
  color: #d58e32;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  left: -90px;
  top: -32px;
}