.rightBox {
  overflow: hidden;
  margin-bottom: 20px;
}

.rightContent {
  position: absolute;
 
 
 left: 60%;
 
  padding: 5px;
  z-index: 2;
}



.rightContent h2 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  color: black;
  width: 400px;
  
 top: -120px;
 
 object-fit: cover;
  position: relative;

}

.rightContent h3 {
  margin-bottom: 10px;
  object-fit: cover;
  position: relative;

 top: -130px;

}



.rightBackground {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.overlay {
  background-color: #e8edf7;
  width: 600px;
  z-index: -1;
}

.description {
  color: #d58e32;
  font-size: 22px;
  font-weight: bold;
  position: relative;
  
 top: -135px;
}

@media (max-width: 734px) {
   

   .rightContent {
    left: 15%;
    position: absolute;

   }


   .rightContent h2 {
    font-size: 26px;
   }

   .rightContent h3 {
    font-size: 22px;
   }

   .description {
    font-size: 20px;
   }
    
}





@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
  .rightContent h2 {
    left: 40px;
    font-size: 26px;
    
    position: relative;
    
    }

    .rightContent h3 {
    
    font-size: 22px;
    
    position: relative;
    
    }
.description{
     
     margin-left: 120px;
      position: relative;
      font-size: 20px;
    }


}
