@import "../../../styles/settings.scss";

.root {
  background-color: $header-topbar-bg;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a.login {
        &::after {
          content: "Login";
        }
      }
      a.register {
        &::after {
          content: "Register";
        }
      }

      a {
        color: #ffffff;
        font-size: 13px;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
      .btn {
        color: #ffffff;
        font-size: 13px;
        background: transparent;
        border: none;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
  }
}

@media (max-width: 576px) {
  .root {
    ul {
      li {
        button {
          span {
            display: none;
          }
        }
        a.login {
          &::after {
            content: "";
          }
        }
        a.register {
          &::after {
            content: "";
          }
        }
      }
    }

    .topOptions {
      flex: 0 0 56%;

      ul li {
        margin-right: 0.6rem;
      }
    }
  }
}
