@import "../../../styles/settings.scss";

.heading {
  position: relative;
  padding: 0;

  h3 {
    color: $primary;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 38px;
    margin: 0;
    letter-spacing: 1px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 45px;
    border-bottom: 4px solid $primary;
  }
}
