@import "../../../styles/settings.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #d58e32c2;
  border-radius: 20px;
}

.product {
  position: relative;
  margin: 20px;
}

.imageContainer {
  position: relative;
}

.imgCompare {
  object-fit: cover;
  width: 100%;
  height: 180px;
  padding: 5px;
  border-radius: 15px;
}

.closeIcon {
  position: absolute;
  top: 10%;
  right: 5%;
  font-size: 20px;
  color: #fffdd0;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.imageContainer:hover .closeIcon {
  display: block;
}

.line {
  margin: 0 10px;
  border-bottom: 1px solid #2a2a2a;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 30px;
    border-bottom: 4px solid $primary;
    transform: translateX(-50%);
  }
}

.content {
  text-align: center;
  padding: 20px;

  h5 {
    color: $dark-grey;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
  }
}

.actions {
  padding: 15px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .price {
    display: flex;

    span {
      font-size: 20px;
      text-decoration: line-through;
      margin: auto 6px;
    }
  }
}
