.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.loginModal {
  width: 600px;
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login__close {
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 5px black;
  font-size: 20px;
  position: absolute;
  top: -8px;
  right: -12px;
  font-weight: bold;
}

.login__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 25px;
  gap: 25px;
  height: 400px;
}

input {
  height: 50px;
  border-radius: 5px;
}

.login__info {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.login__link {
  color: #0a53be;
}

.login__button {
  margin: 0 200px;
  border-radius: 5px;
  height: 60px;
  background-color: #d58e32;
  font-weight: inherit;
  border: none;
  font-family: "Arial Black";
}
.login__error {
  color: red;
  font-size: 20px;
  align-items: center;
}

@media (max-width: 576px) {
  .modalOverlay {
    width: 100vw;
    height: 100vh;
  }
  .loginModal {
    width: 90%;
  }

  .login__button {
    margin: 0;
    height: 50px;
  }

  .login__info {
    flex-direction: column;
    gap: 4px;
  }

  input {
    height: 45px;
    padding: 0 15px;
  }
}
