$white: #ffffff;
$dim-white: rgb(169, 169, 169);
$dim-orange: #d58e32;
$dark-grey: #2a2a2a;
$grey-bg: #363636;
$light-grey-bg: #434343;
/* NOT FOR USE OUTSIDE THIS FILE */

// VARIABLES USED IN COMPONENTS

$base-padding: 24px;
$form-border-color: #292929;

$header-topbar-bg: #434343;
$header-bg: #363636;
$product-header-bg: #3f3f3f;
$header-bg: $grey-bg;
$header-topbar-bg: $light-grey-bg;

$footer-bg: $grey-bg;
$footer-claim-bg: $dark-grey;
$footer-text-elements: $dim-white;

$button-bg: $dark-grey;

$primary: $dim-orange;
$pure-white: $white;

$text-color: $dark-grey;
$animation-time: 250ms;
$animation-time-background-color: $animation-time + 0ms;

.extra-hover {
  $moveX: 10px;
  $moveY: 0;
  $scale: 1;

  transform: translate($moveX, $moveY) scale($scale);
}
