$white: #ffffff;
$dim-white: rgb(169, 169, 169);
$dim-orange: #d58e32;
$dark-grey: #2a2a2a;
$grey-bg: #363636;
$light-grey-bg: #434343;
/* NOT FOR USE OUTSIDE THIS FILE */

// VARIABLES USED IN COMPONENTS

$base-padding: 24px;
$form-border-color: #292929;
$pure-white: #fff;

$header-topbar-bg: #434343;
$header-bg: #363636;
$product-header-bg: #3f3f3f;
<<<<<<< HEAD
$header-bg: $grey-bg;
$header-topbar-bg: $light-grey-bg;
=======
>>>>>>> 2c2e7b6 (Added banner back into /product subpage)

$footer-bg: $grey-bg;
$footer-claim-bg: $dark-grey;
$footer-text-elements: $dim-white;

$button-bg: $dark-grey;

$primary: $dim-orange;
$pure-white: $white;

$font-color: rgb(42, 42, 42);
$content-bg: #f4f5f7;

$text-color: #2a2a2a;

$text-color: $dark-grey;
$animation-time: 250ms;
$animation-time-background-color: $animation-time + 0ms;

.extra-hover {
  $moveX: 10px;
  $moveY: 0;
  $scale: 1;

  transform: translate($moveX, $moveY) scale($scale);
}
