@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    .list {
      list-style: none;
      position: relative;
      font-size: 14px;
      top: 8px;
      width: 200px;
      z-index: 1;
      cursor: pointer;
      outline: none;
      font-size: 14px;
    }

    .childList {
      display: none;
      position: absolute;
      list-style: none;
      z-index: 1;
      width: 202px;
      top: 100%;
      left: -1px;
      background-color: #fff;
      margin-top: 12px;
      padding: 5px 0;
      border: 1px solid $form-border-color;
      border-top: 0;
    }

    .mainItem:hover .childList {
      display: inline-block;
    }

    .childItem {
      padding: 3px;
    }

  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
