@import "../../../styles/settings.scss";

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  gap: 10px;
}

.leftColumn {
  aspect-ratio: 1/1;
}

.rightColumn {
  background-color: $content-bg;

  .rightImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.mobileLayout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  gap: 10px;
}

.rightColumnBlock {
  display: none;
}
