@import "../../../styles/settings.scss";

.root {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    img {
      object-fit: cover;
      width: 100%;
      height: 300px;
      padding: 0;
    }

    .button {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .counter {
      position: absolute;
      display: none;
      justify-content: space-evenly;
      width: 100%;
      bottom: 0;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 10px;

      .amount {
        display: flex;
        align-items: center;
        line-height: 1.1;
        word-spacing: 15px;
        background-color: rgba(41, 41, 41, 0.8);
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }
  }
  .photo:hover .button {
    display: block;
  }
  .photo:hover .counter {
    display: flex;
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $text-color;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: rgb(42, 42, 42);
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
