@import "../../../styles/settings.scss";

.wrapper {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  height: 6rem;
  align-items: stretch;
  justify-content: space-between;
}

.button {
  width: 40px;
  height: 100%;

  border: none;
  background-color: black;
  color: white;

  &:focus {
    outline: none;
  }
}

.thumbnailsWrapper {
  display: flex;
  gap: 5px;
  overflow: hidden;
  padding: 0 5px;
  position: relative;

  .thumbnail {
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    flex-shrink: 0;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
